.nav-bg {
  background: #5f2c82; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #49a09d,
    #5f2c82
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #49a09d,
    #5f2c82
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-item {
  text-decoration: none !important;
  color: #fff;
}

.nav-item:hover {
  color: #72cfcc;
}

.header-container {
  height: 50vh;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.759),
      rgba(96, 44, 130, 0.416)
    ),
    url("./jewelheader.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
}

.game-btn {
  background: #49a09d;
  border: 1px solid #49a09d;
}

.game-btn:hover {
  background: #328683;
  border: 1px solid #328683;
}

.jewel-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jewel-icons {
  color: #5f2c82;
}
